{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page-title %}
  {{ advert.get_ad_type_display }}
  <small>ID number: {{ advert.pk }}</small>
{% endblock %}

{% block content %}
  {% if advert.is_side %}
    <img border="0" width="125" height="125" src="{{ advert.image.url }}" style="margin: auto; display: block">
  {% else %}
    <img border="0" width="728" height="90" src="{{ advert.image.url }}" style="margin: auto; display: block">
  {% endif %}

  <table class="table table-bordered" style="margin-top: 20px">
    <tbody>
      <tr>
        <td><strong>Advert link</strong></td>
        <td>
          <div class="panel-group" id="urlaccordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#urlaccordion" href="#currentUrl">
                    Current Url
                  </a>
                </h4>
              </div>
              <div id="currentUrl" class="panel-collapse collapse in">
                <div class="panel-body">
                  <a href="{{ advert.url }}">{{ advert.url }}</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#urlaccordion" href="#editUrl">
                    Edit URL
                  </a>
                </h4>
              </div>
              <div id="editUrl" class="panel-collapse collapse">
                <div class="panel-body">
                  {% crispy form %}
                </div>
              </div>
            </div>
          </div>


        </td>
      </tr>
      <tr>
        <td><strong>Advert created</strong></td>
        <td>{{ advert.created }}</td>
      </tr>
      <tr>
        <td><strong>Advert updated</strong></td>
        <td>{{ advert.updated }}</td>
      </tr>
      <tr>
        <td><strong>Status</strong></td>
        <td>
          {% if advert.status == advert.ACTIVE %}
            <span class="label label-success">{{ advert.get_status_display }}</span>
          {% elif advert.status == advert.INACTIVE %}
            <span class="label label-danger">{{ advert.get_status_display }}</span>
          {% else %}
            <span class="label label-warning">{{ advert.get_status_display }}</span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td><strong>Total Impressions</strong></td>
        <td>
          {{ advert.total_clicks }}
        </td>
      </tr>
    </tbody>
  </table>

  <div id="statistics_charts"></div>

{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'highcharts/highcharts.js' %}"></script>
  <script type="text/javascript">
    $(function () {
        $('#statistics_charts').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Click statistics'
            },
            subtitle: {
                text: 'Click statistics over the last 10 days'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { 
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: {
                title: {
                    text: 'Amount of clicks (clicks)'
                },
                min: 0
            },
            tooltip: {
                formatter: function() {
                        return Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' clicks';
                }
            },

            series: [{
                name: 'Clicks',
                data: [
                  {% for stat in history %}

                    [Date.UTC({{ stat.date.year }}, {{ stat.date.month|add:"-1" }}, {{ stat.date.day }}), {{ stat.clicks }}]
                    {% if not forloop.last %},{% endif %}
                  {% endfor %}
                ]
            }]
        });
    });
  </script>
{% endblock %}