{% extends 'base.html' %}
{% load static %}

{% block page-title %}{{ advert.get_ad_type_display }}{% endblock %}

{% block content %}
  {% if advert.is_side %}
    <img border="0" width="125" height="125" src="{{ advert.image.url }}" style="margin: auto; display: block">
  {% else %}
    <img border="0" width="728" height="90" src="{{ advert.image.url }}" style="margin: auto; display: block">
  {% endif %}

  <table class="table table-bordered" style="margin-top: 20px">
    <tbody>
      <tr>
        <td><strong>Advert link</strong></td>
        <td><a href="{{ advert.url }}">{{ advert.url }}</a></td>
      </tr>
      <tr>
        <td><strong>Advert created</strong></td>
        <td>{{ advert.created }}</td>
      </tr>
      <tr>
        <td><strong>Advert updated</strong></td>
        <td>{{ advert.updated }}</td>
      </tr>
    </tbody>
  </table>

  <div id="statistics_charts"></div>

{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'highcharts/highcharts.js' %}"></script>
  <script type="text/javascript">
    $(function () {
        $('#statistics_charts').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Click statistics'
            },
            subtitle: {
                text: 'Click statistics over the last 10 days'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                }
            },
            yAxis: {
                title: {
                    text: 'Amount of clicks (clicks)'
                },
                min: 0
            },
            tooltip: {
                formatter: function() {
                        return Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' clicks';
                }
            },

            series: [{
                name: 'Clicks',
                // Define the data points. All series have a dummy year
                // of 1970/71 in order to be compared on the same x axis. Note
                // that in JavaScript, months start at 0 for January, 1 for February etc.
                data: [
                    [Date.UTC(1970,  9, 27), 0   ],
                    [Date.UTC(1970, 10, 10), 0.6 ],
                    [Date.UTC(1970, 10, 18), 0.7 ],
                    [Date.UTC(1970, 11,  2), 0.8 ],
                    [Date.UTC(1970, 11,  9), 0.6 ],
                    [Date.UTC(1970, 11, 16), 0.6 ],
                    [Date.UTC(1970, 11, 28), 0.67],
                    [Date.UTC(1971,  0,  1), 0.81],
                    [Date.UTC(1971,  0,  8), 0.78],
                    [Date.UTC(1971,  0, 12), 0.98],
                    [Date.UTC(1971,  0, 27), 1.84],
                    [Date.UTC(1971,  1, 10), 1.80],
                    [Date.UTC(1971,  1, 18), 1.80],
                    [Date.UTC(1971,  1, 24), 1.92],
                    [Date.UTC(1971,  2,  4), 2.49],
                    [Date.UTC(1971,  2, 11), 2.79],
                    [Date.UTC(1971,  2, 15), 2.73],
                    [Date.UTC(1971,  2, 25), 2.61],
                    [Date.UTC(1971,  3,  2), 2.76],
                    [Date.UTC(1971,  3,  6), 2.82],
                    [Date.UTC(1971,  3, 13), 2.8 ],
                    [Date.UTC(1971,  4,  3), 2.1 ],
                    [Date.UTC(1971,  4, 26), 1.1 ],
                    [Date.UTC(1971,  5,  9), 0.25],
                    [Date.UTC(1971,  5, 12), 0   ]
                ]
            }]
        });
    });
  </script>
{% endblock %}