body {
    margin: 0;
    padding: 0;
}

.container {
    a {
        text-decoration: none;
        margin: 0;
        padding: 0;
        float: left;
        margin-right: 5px;

        .main-item {
            margin: 0;
            padding: 0;
        }

    }
}