{% load static %}
{% load activenav %}
<!DOCTYPE html>
<html>
  <head>
    <title>Open Ads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container" style="margin-top: 20px">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'advert:provider:stats' %}">Open Ads</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'advert:provider:stats' %}">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
              <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'accounts:login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
            </div>
          {% endfor %}
      {% endif %}

      <h1 class="page-header">{% block page-title %}{% endblock %}</h1>
      {% block content %}
        No page content
      {% endblock %}
      <script src="{% static 'jquery/jquery.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      {% block extra_js %}{% endblock %}
    </div>
  </body>
</html>